*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{ 
    background-color: #90b06b;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#panel
{
    
    border-radius: 1%;
    width: 80%;
    height: 80%;
    background-color: white;
    overflow: hidden;
}
#navbar
{   
    padding: 0 20%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: #5d8234;
    color: white;
}
#elem
{   
    align-items: center;
    gap: 10px;
    display: flex;
    
}

#box
{   
    color: #206832;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 35px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;

}
#pdown
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 80%; 
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
}
#bubble
{
    color: white;
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #5d8234;
   font-weight: 500;
}
#bubble:hover
{
    cursor: pointer;
    background-color: #2b5d22;
}